<h1>Irgendwas mit ToDo und so!!!</h1>
<div *ngFor = "let elem of todoArray; let index = index">
  <!-- muss über den Selectornamen in der todo-elem.componen.ts angesprcohen werden-->
  <app-todo-elem [index]="index" [text]="elem.text" (done)="setDone($event)" (delete)= "setDelete($event)"></app-todo-elem>
</div>
<input type="text" #eingabe>
<button (click)="neuEvent($event); eingabe.value=''">
  newToDo
</button>

<div *ngFor = "let elem of todoArray">
    <!-- muss über den Selectornamen in der todo-elem.componen.ts angesprcohen werden-->
    Index: {{elem.index}} <br> Text: {{elem.text}} <br> Done: {{elem.done}}
  </div>