.container {
    margin: 10px;
}

.container2 {
    /*Mit display: inline; werden die divs aus dem mgFor nebeneinander dargestellt, Standard ist display: block;, dann startet jedes div in einer neuen Zeile */
    display: inline; 
    margin: 10px;
}

.label {
    margin: 10px;
}

.no-spinners {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}